header.masthead
{
    /*background-color: black;*/
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 20vh;
}

.results
{
    min-height: 100vh;
    padding-top: 4.5rem;
    padding-bottom: 0;
}

.product-card
{
    min-width:200px;
}

.product-img
{
    height:250px;
}

.nutriscore
{
    position:absolute;
    border:solid 1px black;
    height:2.8rem;
    width:2.8rem;
    font-size:1.7rem;
    border-radius:50%;
    top:-20px;
    right:-20px;
    color:white;
}