{% extends 'pages/head_foot_nav.html' %}

{% block title %}Mes favoris{% endblock %}

{% block contenu %}

{% if not fav_product %}
<header class="masthead" style="background-image: url(/static/assets/img/bg_fav.jpg);">
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card my-auto" style="width: auto;">
                <div class="d-flex justify-content-center pb-4 text-white">
                    <h1 class="d-block text-center mb-5 text-white" 
                    style="margin-top: 4rem; text-shadow: 5px 1px 5px black, 0 0 25px black, 0 0 10px black;">
                    Vous n'avez pas encore de favoris</h1>
                </div>
            </div>
        </div>
    </div>
    </header>
{% else %}
<header class="masthead" style="background-image: url(/static/assets/img/bg_fav.jpg); max-height: 20rem;">
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card my-auto" style="width: auto;">
                <div class="d-flex justify-content-center pb-4 text-white">
                    <h1 class="d-block text-center mb-5 text-white" 
                    style="margin-top: 4rem; text-shadow: 5px 1px 5px black, 0 0 25px black, 0 0 10px black;">
                    Vos favoris</h1>
                </div>
            </div>
        </div>
    </div>
    </header>
    <section class="page-section bg-white">
        <div class="container">
            <h3 class="text-center font-weight-bold" style="margin-bottom: 1em;">Voici votre sélection: </h3>
                <div class="row d-flex justify-content-between justify-content-lg-around text-center">
                    {% for fav in fav_product %}
                        <div class="card-muted overflow-hidden p-2 mb-5 mx-lg-2 col-lg-3 col-md-5 col-8 offset-2 offset-md-0" style="width:300px; margin-bottom: 4em;">
                            <hr class="bg-dark"/>
                            {% if fav.nutrition_grade == "a" %}
                                <div class="d-flex flex-row-reverse">
                                    <img src="/static/assets/img/nutri_a.png"  alt="nutri_score_a" WIDTH=100 HEIGHT=40 />
                                </div>
                            {% elif fav.nutrition_grade == "b" %}
                                <div class="d-flex flex-row-reverse">
                                    <img src="/static/assets/img/nutri_b.png"  alt="nutri_score_b" WIDTH=100 HEIGHT=40 />
                                </div>
                                {% elif fav.nutrition_grade == "c" %}
                                <div class="d-flex flex-row-reverse">
                                    <img src="/static/assets/img/nutri_c.png"  alt="nutri_score_c" WIDTH=100 HEIGHT=40 />
                                </div>
                            {% elif fav.nutrition_grade == "d" %}
                                <div class="d-flex flex-row-reverse">
                                    <img src="/static/assets/img/nutri_d.png"  alt="nutri_score_d" WIDTH=100 HEIGHT=40 />
                                </div>
                            {% else %}
                                <div class="d-flex flex-row-reverse">
                                    <img src="/static/assets/img/nutri_e.png"  alt="nutri_score_e" WIDTH=100 HEIGHT=40 />
                                </div>
                            {% endif %}
                            <div class="card-img-top">
                                <img style="height: 300px; object-fit: cover;" alt="{{ fav.name_product }}" src="{{ fav.image_product }}">
                            </div>
                            <div class="card-body" style="height: 150px;">
                                <a class="card-title" href="{% url 'product_info' description=fav.id %}">{{ fav.name_product }}</a>
                            </div>
                                <hr class="bg-dark"/>
                        </div>
                    {% endfor %}
                </div>
        </div>
    </section>
{% endif %}
{% endblock %}
