{% extends 'pages/head_foot_nav.html' %}

{% block title %}Pur Beurre{% endblock %}

{% block contenu %}

<!--Top of page-->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-center">
                <h1 class="text-uppercase text-white">Mentions légales</h1>
            </div>
        </div>
    </div>
</header>

<!-- Information -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <hr class="divider my-4" />
                <h1 class="text-center mt-4">Qui sommes nous?</h1>
                <hr class="divider my-4" />
                <p class="font-weight-bold mb-3">Colette Tatou et Rémy</p>
                <p class="font-weight-bold mb-5">restaurateurs de métier</p>
                
                <hr class="divider my-4" />
                <h1 class="text-center mt-2">Nos coordonnées</h1>
                <hr class="divider my-4" />
                <p class="font-weight-bold mb-3"><i class="fa fa-address-card fa-1x mb-0 text-justify" aria-hidden="true"></i> Montmartre 75018 PARIS</p>
                <p class="font-weight-bold mb-3"><i class="fas fa-phone fa-1x mb-0 text-justify"></i> 08 36 65 65 65</p>
                <p class="font-weight-bold mb-5"><i class="fas fa-envelope fa-1x mb-0 text-justify"></i> info@purbeurre.com</p>

                <hr class="divider my-4" />
                <h1 class="text-center mt-4">Informations supplémentaires</h1>
                <hr class="divider my-4" />
                <p class="font-weight-bold mb-3">Webmaster: <a target="_blank" href="https://www.linkedin.com/in/delphine-miel-8438771b5/">Delphine Miel</a></p>
                <p class="font-weight-bold mb-3">Ce site est heberger par le serveur <a target="_blank" href="https://www.heroku.com/">Heroku</a>.</p>
                <p class="font-weight-bold mb-3">Toutes les données produits sont fournies par <a target="_blank" href="https://fr.openfoodfacts.org/">OpenFoodFacts</a>.</p>
                <p class="font-weight-bold mb-3">Le design du site a été créé à partir de ce template 'Bootstrap: <a target="_blank" href="https://startbootstrap.com/theme/creative">ici</a>.</p>
                <p class="font-weight-bold mb-3">Fond d'écran: <a target="_blank" href="https://unsplash.com/photos/k60JspcBwKE">photo</a>.</p>
                <p class="font-weight-bold mb-5">Charte graphique: <a target="_blank" href="https://company-82435.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide">ici</a>.</p>


                <hr class="divider my-4" />
                <p class="text-center mt-3">Informations pratiques</p>
                <p class="font-weight text-muted mb-5">Mangez des cacahuètes en slip peut provoquer des réactions cutanées</p>
                <p class="font-weight-bold mb-3"><a target="_blank" href="https://www.youtube.com/watch?v=qLtTUd6FPOs"><i class="fa fa-leaf" aria-hidden="true"></i>
                </a></p>

            </div>
        </div>
    </div>
</section>

{% endblock %}

