{% extends 'pages/head_foot_nav.html' %}

{% block title %}Recherche{% endblock %}

{% block contenu %}
<header class="masthead">
    <div class="container header-title pb-5">
        <h1 class="d-block text-center text-white">Les résultats de votre recherche</h1>
    </div>
    <div class="results bg-white">
        <div class="container">
            <div class="row d-flex justify-content-between justify-content-lg-around text-center">
            {% for product in products %}
                <div class="p-2 mb-5 mx-lg-2 product-card bg-light">
                    <img class="img-fluid product-img rounded mb-1" src="{{ product.image_product}}">
                    <a class="d-block mb-2"> {{ product.name_product }}</a>
                    <a class="btn btn-primary"> Substituer </a>
                    <div>{{ product.nutrition_grade }}</div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</header>
{% endblock %}
